@import 'variables';

.header {
  display: grid;
  grid-template-areas: 
  'head'
  'main';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100%;
  text-transform: uppercase;
  height: 100vh;

  &__main-content {
    grid-area: main;
  }

  @media screen and (max-width: 800px) {
    grid-template-rows: 40px 1fr;
  }
}

.header__menu {
  grid-area: head;
  display: flex;
  flex-direction: row;

  .menu__logo {
    font-size: 26px;
    font-weight: 700;
    margin: auto auto auto 35px;

    @media screen and (max-width: 800px) {
      margin: auto 0 auto 10px;
      font-size: 16px;
    }
  }

  .menu__link {
    margin: auto auto auto auto;
  }

  .menu__nav {
    background-color: $main-gray;
    cursor: pointer;
    margin: auto 35px;
    transition: .1s linear;
    height: 20px;
    width: 25px;

    div {
      margin: 2px 0 2px 0;
      width: 25px;
      height: 7px;
      background-color: #fff;
    }

    &:hover {
      background-color: $main-yellow;
    }

    @media screen and (max-width: 800px) {
      margin: auto 10px;
    }
  }
}

.header__main-content {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 110px 1fr;
  grid-template-rows: 1fr;

  .main-content__sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    .sidebar__link {
      margin: auto auto;
      font-weight: 700;

      .link__works {
        display: block;
        transform: rotate(-90deg);

        @media screen and (max-width: 800px) {
          transform: rotate(0deg);
          margin: auto 0 auto 10px;
        }
      }

      @media screen and (max-width: 800px) {
        margin: auto auto auto 10px;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 800px) {
      grid-template-areas: 
      'main'
      'sidebar';
      grid-template-columns: 100%;
      grid-template-rows: 1fr 60px;
  }
}

.sidebar__social {
  margin: auto 0 20px 0;

  .social__item {
    display: block;
    text-align: center;
    margin: 15px auto;

    @media screen and (max-width: 800px) {
      display: inline;
      margin: auto 10px auto 10px;
    }
  }
}

.main-content__heading {
  display: grid;
  grid-area: main;
  grid-template-areas: 'heading img';
  grid-template-columns: 50% 50%;
  grid-row: 1fr;

  @media screen and (max-width: 800px) {
    grid-template-areas: 
    'heading'
    'img';
    grid-template-columns: 100%;
    grid-auto-rows: 40% 60%;
  }

  .heading__text {
    grid-area: heading;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text__subheading {
      margin: 10px;

      @media screen and (max-width: 1230px) {
        margin: 5px 0 5px 25px;
      }
    }

    .text__main-heading {
      font-size: 48px;
      font-weight: 700;
      margin: 10px;

      @media screen and (max-width: 1230px) {
        font-size: 28px;
        margin: 5px 0 5px 25px;
      }
      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
    }

    .text__link {
      position: relative;
      display: block;
      padding: 15px 35px;
      background: linear-gradient(to right, #ffe400 95px, #fff 95px);
      margin: 10px;
      width: 100px;
      z-index: 3;

      &:hover {
        color: $main-gray;
      }

      @media screen and (max-width: 1230px) {
        margin: 5px 0 5px 25px;
        padding: 10px 25px;
      }
    }
  }

  .main-content__image {
    grid-area: img;
    display: flex;
    justify-content: center;
    background-color: $light-gray;
    margin: 0 60px 60px 15px;

    .image__main-img {
      height: auto;
      width: 65%;
      display: block;
      margin: auto;

      @media screen and (max-width: 1230px) {
        height: auto;
        width: 65%;
      }

      @media screen and (max-width: 530px) {
        height: auto;
        width: 95%;
      }
    }

    @media screen and (max-width: 1230px) {
      background: none;
      padding: 0 0 0 10px;
    }
  }
}
