@import 'variables';

.header {
  display: grid;
  grid-template-areas: 
  'head'
  'main';
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr;
  text-transform: uppercase;
  height: 100vh;

  &__main-content {
    grid-area: main;
  }

  @media screen and (max-width: 800px) {
    grid-template-rows: 40px 1fr;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  grid-area: head;

  .menu__logo {
    font-size: 26px;
    font-weight: 700;
    margin: auto 0 auto 35px;

    @media screen and (max-width: 800px) {
      font-size: 16px;
      margin: auto 0 auto 10px;
    }
  }

  .menu__link {
    margin: auto auto auto 100px;

    @media screen and (max-width: 800px) {
      margin: auto auto;
    }
  }

  .menu__nav {
    background-color: $main-gray;
    cursor: pointer;
    margin: auto 35px;
    transition: .1s linear;
    height: 20px;
    width: 25px;

    div {
      background-color: $white;
      margin: 2px 0 2px 0;
      height: 7px;
      width: 25px;
    }

    &:hover {
      background-color: $main-yellow;
    }

    @media screen and (max-width: 800px) {
      margin: auto 10px;
    }
  }
}

.header__main-content {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 110px 1fr;
  grid-template-rows: 1fr;

  .main-content__sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;

    .sidebar__link {
      font-weight: 700;
      margin: auto auto;

      .link__works {
        display: block;
        transform: rotate(-90deg);

        @media screen and (max-width: 800px) {
          margin: auto 0 auto 10px;
          transform: rotate(0deg);
        }
      }

      @media screen and (max-width: 800px) {
        margin: auto auto auto 10px;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 800px) {
      grid-template-areas: 
      'main'
      'sidebar';
      grid-template-columns: 100%;
      grid-template-rows: 1fr 60px;
  }
}

.sidebar__social {
  margin: auto 0 20px 0;

  .social__item {
    display: block;
    text-align: center;
    margin: 15px 0;
    opacity: .5;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 800px) {
      display: inline;
      margin: auto 10px auto 10px;
    }
  }
}

.main-content__heading {
  display: grid;
  grid-area: main;
  grid-template-areas: 'heading img';
  grid-template-columns: 50% 50%;
  grid-row: 1fr;

  @media screen and (max-width: 800px) {
    grid-template-areas: 
    'heading'
    'img';
    grid-template-columns: 100%;
    grid-auto-rows: 40% 60%;
  }

  .heading__text {
    display: flex;
    flex-direction: column;
    grid-area: heading;
    justify-content: center;

    .container-text {
      display: block;
      margin: 0 auto;
    }

    .text__subheading {
      display: block;
      margin: 10px;

      @media screen and (max-width: 1230px) {
        margin: 5px 0 5px 45px;
      }
    }

    .text__main-heading {
      display: block;
      font-size: 48px;
      font-weight: 700;
      margin: 10px;

      @media screen and (max-width: 1230px) {
        font-size: 28px;
        margin: 5px 0 5px 45px;
      }
      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
    }

    .text__link {
      background: linear-gradient(to right, #ffe400 90px, #fff 90px);
      display: block;
      margin: 15px;
      opacity: .85;
      padding: 15px 35px;
      transition: .4s linear;
      width: 100px;

      &:hover {
        background: linear-gradient(to right, #ffe400 90px, #fff 90px);
        color: #111;
        opacity: 1;
        padding: 15px 45px;
      }

      @media screen and (max-width: 1230px) {
        margin: 5px 0 5px 45px;
        opacity: 1;
        padding: 10px 25px;

        &:hover {
          padding: 10px 35px;
        }
      }
    }
  }

  .main-content__image {
    align-items: center;
    background-color: $light-gray;
    display: flex;
    grid-area: img;
    justify-content: center;
    margin: 0 60px 60px 0;

    .image__main-img {
      height: auto;
      width: 70%;

      @media screen and (max-width: 1230px) {
        height: auto;
        width: 65%;
      }

      @media screen and (max-width: 530px) {
        height: auto;
        width: 90%;
      }
    }

    @media screen and (max-width: 800px) {
      margin: 0;
    }
  }
}
