@import 'reset';
@import 'fonts';
@import 'variables';
@import 'header';
@import 'services';
@import 'work';
@import 'skills';



body {
  color: $main-gray;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
}

a {
  color: $main-gray;
  text-decoration: none;
  transition: .1s linear;

  &:hover {
    color: $main-yellow;
  }
}

.heading {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0 25px 0;
}

.subheading {
  display: block;
  font-size: 16px;
  margin: 40px 0 25px 0;
}

::-webkit-scrollbar {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background-color: $main-gray;
}

::selection {
  background-color: $main-yellow;
  color: $main-gray;
}
